<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<form enctype="multipart/form-data" method="post" action="/uploadPicture">
    <div align="center">
        <font size="20px" style="color:red"> <label  th:utext="${day}"></label></font>
        <!--<font size="20px" style="color: aqua"><p>看什么看，爱的就是你。</p></font>
-->
        <font size="15px"><p>文件: <input type="file" name="file"/></p></font>
        <br>
        <br>
        <br>
        <br>
        <input type="submit"   value="爱心发射"/>
    </div>

</form>
</body>
</html>