<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html>
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<form enctype="multipart/form-data"   method="post" action="/upload2xixi">
    <div align="center">
        <font size="20px" style="color:red"> <label  th:utext="${day}"></label></font>
        <br>
        <br>
        <font size="18px" style="color: aqua"><p>西西 ❤ 张芮</p></font>

        <font size="15px"><p>文件: <input type="file" name="file"/></p></font>
        <br>
        <br>
        <font size="15px"><p>在下面留言框说点什么吧:</p></font>
        <textarea name="text" style="height: 200px;width: 400px">

        </textarea>
        <br>
        <br>
        <input type="submit"   value="爱心发射"/>
    </div>

</form>
</body>
</html>